In [ ]:
print(10)
print("London")
print("Number is",5.5)

In [ ]:
print(3*12+5/2)

38.5

In [ ]:
input("Enter a name")
input("Enter a city")

Enter a nameLouise
Enter a cityLondon

'London'

In [ ]:
name = input ("Enter your name")
city = input ("Enter a city")
print ("Hello", name, "from", city)

Enter your nameLouise
Enter a cityLondon
Hello Louise from London

Exercise :
Ask the user to enter their name, tel number, and city.
Print in the following form : Stelios from Paris, tel is : 343434343

In [ ]:
name = input ("Enter your name")
tel = input ("Enter your tel number")
city = input ("Enter your city")
print (name, "from", city, "tel is", tel)

Enter your nameStelios
Enter your tel number343434343
Enter your cityPAri
Stelios from PAri tel is 343434343

"Str" means string => text

print ("Stelios", "1") => Stelios 1
print ("Stelios"+"1") => Stelios 1
print ("Stelios"*3) => SteliosSteliosStelios

Int means nombre
FLoat means nb dÃ©cimal / chiffre

In [ ]:
age = input ("How old are you? ")
print (age)
print (age*3)

How old are you? 18
18
181818

In [ ]:
age = int(input("How old are you? "))
print(age*3)

How old are you? 18
54

Ask the user to give you two numbers, one after the other.
Print the addition of numbers
5
6
11

In [ ]:
x = float(input("Enter a number "))
y = float(input("Enter a number "))
print (x+y)

Enter a number 5
Enter a number 6
11.0

In [ ]:
x = int(input("Enter a number "))
y = int(input("Enter a number "))
if y==0 :
  print ("I cannot divide by zero")
else :
  print (x/y)

Exercise:
Ask the user to enter two integer numbers.
Print the largest number
5
12
12

In [ ]:
x = input("Enter an integer number")
y = input("Enter an integer numbe")
if x>y :
  print ("Max is",x)
else :
  print ("Max is",y)
print("Max is")

In [ ]:
x = input("Enter an integer number")
if x>0 :
  print ("Positive")
elif x=0 :
  print ("Zero")
else :
  print ("Negative")

"Elif" means "else if", it's a condition, si il y a plusieurs condtions on peut mettre plusieurs fois elif.

In [ ]:
x = input("Enter an integer number")
if x>0 and x<10 :
  print ("number between 0 and 10")
else :
  print ("Other")

In [ ]:
score = int(input("Enter a number"))
if score>=O and score<10 :
  print ("fail")
elif score>=10 and score<15 :
  print ("Pass")
elif score>=15 and score<=20 :
  print ("Distinction")
else :
  print ("Error")

Enter a grade between 0 and 205

TypeError: '<' not supported between instances of 'int' and 'str'